:root {
    /* Colors for "Move out and in Text" */
    --color-primary: #9e103f;
    --color-secondary: #8e0045;
    --color-tertiary: #770058;
    --color-quaternary: #600047;
    --color-quinary: #44001a;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/JetbrainsMonoRegular.ttf") format("truetype")
         url("/assets/JetbrainsMonoRegular.woff") format("woff")
}

html {
    font-family: "JetBrains Mono";
}

body {
    background-color: #bbbbbb;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    display: inline-block;
}

nav {
    z-index: 12;
}

nav span {
    font-style: italic;
    font-weight: 900;
}

.orange {
    color: orangered;
}

.not-selectable {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.left {
    align-self: flex-start;
}

#text {
    max-width: 32em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;

    font-size: 1.69em;
}

/* #pages { */
/*     /1* TODO: make some more pages on here *1/ */
/* } */

/* ---------- */
/* Link lists */
/* ---------- */

#links {
    padding-inline-start: 0;
}

#links li {
    padding-bottom: 0.3em;

    list-style-type: none;
}

#links li:before {
    display: inline-block;
    content: "";

    height: 1.2em;
    width: 1.2em;
    padding-right: 0.5em;

    background-size: contain;
    background-repeat: no-repeat;

    transform: translateY(0.142em);
}

#links li[clonk]:before {
    clip-path: circle(42% at 32%);
    background-image: url("assets/clonk-pfp.jpg");
    background-size: 80%;
}

#links li[website]:before {
    background-image: url("assets/seesORsoos_sad_no-bg.png");
}

#links li[github]:before {
    background-image: url("assets/github-mark.svg");
}

#links li[twitter]:before {
    background-image: url("assets/twitter.svg");
}

/* ------------ */
/* Link Styling */
/* ------------ */

.link a {
    display: inline-block;

    overflow: hidden;
    text-decoration: none;
    color: mediumorchid;

    transform: translateY(0.25em);
}

.link a span {
    transition: 0.3s;
}

.link a span:before {
    position: absolute;
    content: attr(data-hover);

    top: 100%;

    font-weight: 700;
    color: mediumvioletred;
}

.link a:hover span, .link a:focus span {
    transform: translateY(-100%);
}

/* ---------------------- */
/* Javascript crossed out */
/* ---------------------- */

#javascript-text {
    position: relative;

    color: gold;
}

#javascript-text:hover #javascript-cross {
    visibility: visible;
}

#javascript-cross {
    position: absolute;
    visibility: hidden;

    height: 100%;

    transform: scaleX(500%) translateX(-55%);
}

/* --------------------------- */
/* CSS text and logo animation */
/* --------------------------- */

#css-text {
    color: #2965f1;
}

#css-text:hover {
    text-transform: uppercase;
}

#css-text:hover + #css-logo-trophy {
    bottom: 0;
}

#css-text:hover #confetti-canvas {
    top: 0;
}

#css-logo-trophy {
    position: absolute;

    z-index: 13;
    width: 20em;
    height: 24em;
    bottom: -1000%;

    /* Center element */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

#css-logo {
    position: absolute;

    width: 80%;
    left: 2em;

    transform: rotate(13deg);
}

#css-trophy {
    position: absolute;

    width: 100%;
    top: 5em;
}

#confetti-canvas {
    position: absolute;

    left: 0;
    top: -1000%;

    z-index: 11;
}

/* ------------ */
/* C Book Popup */
/* ------------ */

#c-text {
    color: blue;
}

#c-text:hover {
    text-transform: uppercase;
}

#c-text:hover + #c-book-image {
    transform: translateX(115vw) rotate(69deg);
}

#c-book-image {
    position: absolute;

    z-index: 10;
    width: 10em;
    left: 0;

    transform: translateX(-20em) rotate(-69deg);

    transition: transform 2s;
}

/* ------------ */
/* Ferris Popup */
/* ------------ */

#ferris-text {
    color: #b7410e;
}

#ferris-text:hover + #ferris-image {
    display: block;

    opacity: 1;
    transform: translateY(-27px) translateX(-42px) rotate(30deg);
}

#ferris-image {
    position: absolute;

    z-index: 13;
    width: 10em;
    left: 0;
    bottom: 0;

    opacity: 0;
    transform: translateX(-100%);

    transition: opacity 1s, transform 1s;
}

/* -------------------- */
/* Water animation Text */
/* -------------------- */

#clonk {
    margin-top: 7em;
}

#clonk h2 {
    position: absolute;

    font-size: 4em;

    transform: translateY(-50%) translateX(3%);
}

#clonk h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

#clonk h2:nth-child(2) {
    color: #03a9f4;
    animation: water 4s ease-in-out infinite;
}

#clonk-bg {
    z-index: -1;

    width: 46em;
    height: 7em;

    background-color: #000000;
    border-radius: 30px;
}


@keyframes water {
0%,
100% {
    clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
    );
}

50% {
    clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
    );
}
}

/* -------------------- */
/* Move out and in Text */
/* -------------------- */

.woooow {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;

    top: 32px;
    left: 14px;
    transform: rotate(-20deg);
}

.text-shadows {
    margin: 0;

    color: var(--color-primary);
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 4em;
    font-weight: 900;
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;

    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
}

@keyframes shadows {
0%, 100% {
    text-shadow: none;
}
10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
}
20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
}
30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
}
40%, 50%, 60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
}
70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
}
80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
}
90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
}
}

@keyframes move {
0% {
    transform: translate(0px, 0px);
}
40%, 50%, 60% {
    transform: translate(-12px, -12px);
}
100% {
    transform: translate(0px, 0px);
}
}

/* ----------- */
/* Wavy Header */
/* ----------- */

.wavy-rainbow-text {
    display: flex;
    justify-content: space-between;

    padding-top: 1em;

    font-size: 3.5em;
    font-weight: 700;
}

.wavy-rainbow-text span {
    display: inline-block;
    position: relative;

    color: white;

    animation: wavy-rainbow-text 3.69s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes wavy-rainbow-text {
0% {
    color: #FF0000;
}
20% {
    color: #FF7F00;
}
40% {
    color: #FFFF00;
}
60% {
    color: #00FF00;
}
80% {
    color: #0000FF;
}
100% {
    color: #9400D3;
}

0%,40%,100% {
    transform: translateY(0)
}

20% {
    transform: translateY(-20px)
}
}

/* ----------------- */
/* Bottom Navigation */
/* ----------------- */

#bottom-anker {
    position: fixed;
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 7px;
    left: 0;
    bottom: 0;

    text-align: center;

    color: white;
    background-color: gray;
}

.arrow {
    height: 1.5em;
    transform: translateY(0.3em);
}

.mirror {
    transform: scale(-1, 1) translateY(0.3em);
}
