body {
    background-color: #bbbbbb;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------- */
/* Wavy Header */
/* ----------- */

.wavy-rainbow-text {
    display: flex;
    justify-content: space-between;

    padding-top: 0.5em;

    font-size: 3.5em;
}

.wavy-rainbow-text span {
    display: inline-block;
    position: relative;

    color: white;

    animation: wavy-rainbow-text 3.69s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes wavy-rainbow-text {
    0% {
        color: #FF0000;
    }
    20% {
        color: #FF7F00;
    }
    40% {
        color: #FFFF00;
    }
    60% {
        color: #00FF00;
    }
    80% {
        color: #0000FF;
    }
    100% {
        color: #9400D3;
    }

    0%,40%,100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

/* ----------------- */
/* Bottom Navigation */
/* ----------------- */

.bottom-anker {
    position: fixed;
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 7px;
    left: 0;
    bottom: 0;

    text-align: center;

    color: white;
    background-color: gray;
}

.arrow {
    height: 1.5em;
    transform: translateY(0.3em);
}

.mirror {
    transform: scale(-1, 1) translateY(0.3em);
}
